@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }
}

:root {
  --text-primary: #fff;
  --text-secondary: #bdbdbd;
  --accent: #485bff;
  --background: #111827;
  --btn-accent-hover: #485aff9a;
}

html {
  background-color: var(--background);
  color: var(--text-primary);
}

body {
  /* border: 2px solid red; */
  position: relative;
}
